.animate {
    animation: slideA 4s infinite alternate;
}
@keyframes slideA {
    0% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -15%, #cddc39 0%, #63ad00 15%);}
    1% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -14%, #cddc39 1%, #63ad00 16%);}
    2% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -13%, #cddc39 2%, #63ad00 17%);}
    3% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -12%, #cddc39 3%, #63ad00 18%);}
    4% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -11%, #cddc39 4%, #63ad00 19%);}
    5% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -10%, #cddc39 5%, #63ad00 20%);}
    6% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -9%, #cddc39 6%, #63ad00 21%);}
    7% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -8%, #cddc39 7%, #63ad00 22%);}
    8% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -7%, #cddc39 8%, #63ad00 23%);}
    9% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -6%, #cddc39 9%, #63ad00 24%);}
    10% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -5%, #cddc39 10%, #63ad00 25%);}
    11% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -4%, #cddc39 11%, #63ad00 26%);}
    12% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -3%, #cddc39 12%, #63ad00 27%);}
    13% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -2%, #cddc39 13%, #63ad00 28%);}
    14% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 -1%, #cddc39 14%, #63ad00 29%);}
    15% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 0%, #cddc39 15%, #63ad00 30%);}
    16% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 1%, #cddc39 16%, #63ad00 31%);}
    17% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 2%, #cddc39 17%, #63ad00 32%);}
    18% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 3%, #cddc39 18%, #63ad00 33%);}
    19% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 4%, #cddc39 19%, #63ad00 34%);}
    20% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 5%, #cddc39 20%, #63ad00 35%);}
    21% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 6%, #cddc39 21%, #63ad00 36%);}
    22% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 7%, #cddc39 22%, #63ad00 37%);}
    23% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 8%, #cddc39 23%, #63ad00 38%);}
    24% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 9%, #cddc39 24%, #63ad00 39%);}
    25% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 10%, #cddc39 25%, #63ad00 40%);}
    26% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 11%, #cddc39 26%, #63ad00 41%);}
    27% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 12%, #cddc39 27%, #63ad00 42%);}
    28% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 13%, #cddc39 28%, #63ad00 43%);}
    29% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 14%, #cddc39 29%, #63ad00 44%);}
    30% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 15%, #cddc39 30%, #63ad00 45%);}
    31% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 16%, #cddc39 31%, #63ad00 46%);}
    32% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 17%, #cddc39 32%, #63ad00 47%);}
    33% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 18%, #cddc39 33%, #63ad00 48%);}
    34% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 19%, #cddc39 34%, #63ad00 49%);}
    35% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 20%, #cddc39 35%, #63ad00 50%);}
    36% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 21%, #cddc39 36%, #63ad00 51%);}
    37% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 22%, #cddc39 37%, #63ad00 52%);}
    38% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 23%, #cddc39 38%, #63ad00 53%);}
    39% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 24%, #cddc39 39%, #63ad00 54%);}
    40% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 25%, #cddc39 40%, #63ad00 55%);}
    41% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 26%, #cddc39 41%, #63ad00 56%);}
    42% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 27%, #cddc39 42%, #63ad00 57%);}
    43% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 28%, #cddc39 43%, #63ad00 58%);}
    44% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 29%, #cddc39 44%, #63ad00 59%);}
    45% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 30%, #cddc39 45%, #63ad00 60%);}
    46% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 31%, #cddc39 46%, #63ad00 61%);}
    47% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 32%, #cddc39 47%, #63ad00 62%);}
    48% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 33%, #cddc39 48%, #63ad00 63%);}
    49% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 34%, #cddc39 49%, #63ad00 64%);}
    50% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 35%, #cddc39 50%, #63ad00 65%);}
    51% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 36%, #cddc39 51%, #63ad00 66%);}
    52% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 37%, #cddc39 52%, #63ad00 67%);}
    53% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 38%, #cddc39 53%, #63ad00 68%);}
    54% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 39%, #cddc39 54%, #63ad00 69%);}
    55% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 40%, #cddc39 55%, #63ad00 70%);}
    56% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 41%, #cddc39 56%, #63ad00 71%);}
    57% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 42%, #cddc39 57%, #63ad00 72%);}
    58% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 43%, #cddc39 58%, #63ad00 73%);}
    59% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 44%, #cddc39 59%, #63ad00 74%);}
    60% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 45%, #cddc39 60%, #63ad00 75%);}
    61% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 46%, #cddc39 61%, #63ad00 76%);}
    62% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 47%, #cddc39 62%, #63ad00 77%);}
    63% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 48%, #cddc39 63%, #63ad00 78%);}
    64% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 49%, #cddc39 64%, #63ad00 79%);}
    65% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 50%, #cddc39 65%, #63ad00 80%);}
    66% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 51%, #cddc39 66%, #63ad00 81%);}
    67% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 52%, #cddc39 67%, #63ad00 82%);}
    68% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 53%, #cddc39 68%, #63ad00 83%);}
    69% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 54%, #cddc39 69%, #63ad00 84%);}
    70% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 55%, #cddc39 70%, #63ad00 85%);}
    71% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 56%, #cddc39 71%, #63ad00 86%);}
    72% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 57%, #cddc39 72%, #63ad00 87%);}
    73% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 58%, #cddc39 73%, #63ad00 88%);}
    74% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 59%, #cddc39 74%, #63ad00 89%);}
    75% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 60%, #cddc39 75%, #63ad00 90%);}
    76% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 61%, #cddc39 76%, #63ad00 91%);}
    77% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 62%, #cddc39 77%, #63ad00 92%);}
    78% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 63%, #cddc39 78%, #63ad00 93%);}
    79% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 64%, #cddc39 79%, #63ad00 94%);}
    80% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 65%, #cddc39 80%, #63ad00 95%);}
    81% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 66%, #cddc39 81%, #63ad00 96%);}
    82% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 67%, #cddc39 82%, #63ad00 97%);}
    83% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 68%, #cddc39 83%, #63ad00 98%);}
    84% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 69%, #cddc39 84%, #63ad00 99%);}
    85% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 70%, #cddc39 85%, #63ad00 100%);}
    86% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 71%, #cddc39 86%, #63ad00 101%);}
    87% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 72%, #cddc39 87%, #63ad00 102%);}
    88% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 73%, #cddc39 88%, #63ad00 103%);}
    89% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 74%, #cddc39 89%, #63ad00 104%);}
    90% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 75%, #cddc39 90%, #63ad00 105%);}
    91% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 76%, #cddc39 91%, #63ad00 106%);}
    92% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 77%, #cddc39 92%, #63ad00 107%);}
    93% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 78%, #cddc39 93%, #63ad00 108%);}
    94% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 79%, #cddc39 94%, #63ad00 109%);}
    95% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 80%, #cddc39 95%, #63ad00 110%);}
    96% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 81%, #cddc39 96%, #63ad00 111%);}
    97% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 82%, #cddc39 97%, #63ad00 112%);}
    98% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 83%, #cddc39 98%, #63ad00 113%);}
    99% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 84%, #cddc39 99%, #63ad00 114%);}
    100% { background-image: -webkit-linear-gradient(left, #6ead00, #6ead00 85%, #cddc39 100%, #63ad00 115%);}
}
